.hello {
  color: #c00;
}

.focussedBox {
  display: inline-block;
  border: #333 2px solid;
  margin: 5px;
  padding: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.unfocussedBox {
  display: inline-block;
  margin: 7px;
  padding: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
